body
{
    background-color: #fdf2ff;
    background-image: linear-gradient(0deg, #fdf2ff 0%, #eef8ff 100%);
    
    .header
    {
        height: 80px;
        background: linear-gradient(90deg, rgba(21,162,203,1) 15%, rgba(224,42,255,1) 100%);

        &__nav
        {
            display: flex;
            align-content: center;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height: 100%;

            &-img
            {
                width: 150px;
                height: auto;
                cursor: pointer;
            }

            &-form
            {
                display: flex;
                flex-direction: row;
                align-content: center;
                justify-content: center;
                align-items: center;
                border-bottom-left-radius: 50px;
                border-top-left-radius: 50px;
                border-bottom-right-radius: 50px;
                border-top-right-radius: 50px;
                transition: 200ms ease-in-out;

                &-search
                {
                    border: 1px solid $black;
                    height: 39px;
                    width: 600px;
                    border: 0 rgba(0,0,0,.2);
                    border-bottom-left-radius: 50px;
                    border-top-left-radius: 50px;
                    padding: 10px 15px;
                    outline:none;

                    &::placeholder
                    {
                        color: rgba(0, 0, 0, 0.4);
                    }
                }

                &-submit
                {
                    display: flex;
                    align-content: center;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    height: 39px;
                    width: 39px;
                    cursor: pointer;
                    border-bottom-right-radius: 50px;
                    border-top-right-radius: 50px;
                    background-color: $white;

                    svg
                    {
                        color: $blue;
                        width: 50%;
                        height: auto;
                        margin-right: 15px;
                    }
                }

                &:hover
                {
                    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
                }
            }



            &-list
            {
                display: flex;
                flex-direction: row;

                &-link
                {
                    padding: 15px 15px;

                    &-title
                    {
                        color: $white;
                        transition: 200ms ease-in-out;
                        border-bottom: 2px solid transparent;
                        padding-bottom: 5px;

                        svg
                        {
                            width: 115%;
                            height: auto;

                        }

                        &:hover
                        {
                            border-bottom: 2px solid $white;
                            border-radius: 2px;
                        }
                    }
                }
            }
        }
    }

    .productos
    {
        padding: 0 6%;
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;

        &__title
        {
            font-size: 2.5rem;
            margin-bottom: 5%;
        }

        &__row
        {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-content: center;

            &-card
            {
                position: relative;
                display: flex;
                flex-direction: column;
                align-content: center;
                justify-content: center;
                align-items: center;
                padding: 30px 10px;
                background-color: $white;
                border-radius: 5px;
                box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05);
                transition: 200ms ease-in-out;
                width: 250px;

                &-title
                {
                    font-size: 1rem;
                }

                &-img
                {
                    padding: 5px 5px;
                    max-width: 230px;
                    max-height: 230px;
                }

                &-price
                {
                    font-size: 1.5rem;
                    font-weight: 500;
                }

                &-description
                {
                    display: none;
                    text-align: center;
                    margin-top: 10px;
                    color: rgba(0, 0, 0, 0.6);
                    font-size: 1rem;
                }

                &-buy
                {
                    margin-top: 20px;
                    display: none;

                    &-link
                    {
                        padding: 10px 20px;
                        background-image: linear-gradient(to right, $blue 0%, $pink  51%, $blue  100%);
                        box-shadow: 0 0 20px $white;
                        background-size: 250% auto;
                        color: $white;
                        border-radius: 10px;
                        font-weight: 600;
                        transition: 0.5s;

                        &:hover
                        {
                            background-position: right center;
                            color: $white;
                        }
                    }

                    svg
                    {
                        left: 205px;
                        bottom: 30px;
                        position: absolute;
                        color: $blue;
                        transition: 200ms ease-in-out;
                        cursor: pointer;

                        &:hover{

                            color: $pink;

                        }
                    }
                }

                &:hover
                {
                    transform: scale(1.02);
                    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);

                    .productos__row-card-description
                    {
                        display: block;
                        max-width: 250px;
                    }
                    
                    .productos__row-card-buy
                    {
                        display: block;
                    }
                }
            }
        }
    }
}



